<h1>Help</h1>
<h3>God helps those who help themselves</h3>

<hr>

<button class="btn btn-secondary" onclick="window.close();">
  CLOSE
</button>

<hr>

<div class="card p-3">
  <h5>Contact Main Window</h5>
  
  <div class="mb-3">
    <select name="inq_number" class="form-select">
      <option value="1">HOME (Reload Main)</option>
      <option value="2">ADD ELEMENT (Add Text)</option>
    </select>
  </div>

  <button id="inquire_btn" class="btn btn-info">
    INQUIRE
  </button>
</div>